/* 
#8090C0 : 紫
#FF8882 ：ピンク
#FFF1E0 : ベージュ 
*/


body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 3%;
}

.activity ul {
    list-style-type: none;
    /* background: linear-gradient(#8090C0, #FFF1E0); */
}

.activity li {
    /* margin: 20px 0px 20px 0px; */
    padding: 20px 0px 20px 0px;
    border-top: #8090C0 1px solid;
}

.activity img {
    width: 100%;
}

.count ul {
    list-style-type: none;
    /* background: linear-gradient(#8090C0, #FFF1E0); */
}

.count li {
    /* margin: 20px 0px 20px 0px; */
    padding: 20px 0px 20px 0px;
    border-top: #8090C0 1px solid;
}

.sub-title {
    color: #8090C0;
    font-weight: bold;
    font-size: 1.5em;
    z-index: -1;
}

.box {
    max-width: 600px;
    width: 100%;
    margin: 100px auto 330px auto;
    padding: 20px;
    background: #fff;
    text-align: center;
}